:root {
  --theme-color1: #f6f1ee;
  --theme-color2: #6c5f5b;
  --theme-color3: #4f4a45;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  background: #f6f1ee;
  background-repeat: no-repeat;
  height: 100vh;
  max-width: 1200px;
  margin: 0 auto;
  font-family: "Nunito", sans-serif;
}

.app-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 100%;
}
