/* Reset margin and padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Nav wrapper */
.nav-wrapper {
  width: 100%;
  height: 9vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  background: var(--theme-color2);
  z-index: 1000; /* High z-index to ensure nav is above other content */
}

/* Nav container */
.nav-container {
  z-index: 3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  padding: 0 20px;
}

/* Logo */
.logo {
  font-family: "Acme", sans-serif;
  font-size: 1.9rem;
  font-weight: bold;
  color: var(--theme-color1);
  cursor: pointer;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s ease;
}

.logo:hover {
  transform: scale(1.05);
}

/* Menu icon for small screens */
.menu-icon {
  display: none;
  cursor: pointer;
  flex-direction: column;
  justify-content: space-around;
  width: 30px;
  height: 25px;
  background: transparent;
  border: none;
  outline: none;
  z-index: 5; /* Ensures it's clickable above other elements */
}

.menu-icon span {
  display: block;
  width: 100%;
  height: 3px;
  background-color: var(--theme-color1);
  transition: all 0.3s ease;
}

/* Close icon within the side menu */
.close-icon {
  position: absolute;
  top: 0; /* Position at the top of the side menu */
  right: 0; /* Position at the right of the side menu */
  padding: 15px; /* Padding to increase touch area */
  z-index: 5; /* Ensures it's clickable above other elements */
  font-size: 24px; /* Size of the close icon */
  color: var(--theme-color2);
  cursor: pointer; /* Changes cursor to pointer on hover */
}

/* Nav links for large screens */
.nav-link-outer {
  padding: 5px 10px;
  font-size: 15px;
  color: var(--theme-color1);
  text-decoration: none;
  transition: color 0.2s ease;
  position: relative; /* Required for after pseudo-element positioning */
}

.nav-link-outer:hover,
.nav-link-outer.active {
  color: #f6f1ee;
}

.nav-link-outer::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: var(--theme-color1);
  transition: width 0.3s ease;
}

.nav-link-outer:hover::after,
.nav-link-outer.active::after {
  width: 100%;
}

/* Side menu nav links for small screens */
.nav-links-inner {
  display: none; /* Hidden by default */
  flex-direction: column;
  justify-content: flex-start;
  position: fixed;
  top: 9vh; /* Height of the nav-wrapper */
  right: -250px; /* Start off-screen */
  height: calc(
    100vh - 9vh
  ); /* Full height minus the height of the nav-wrapper */
  width: 250px; /* Width of the side menu */
  background: var(--theme-color1);
  box-shadow: -2px 0px 5px rgba(0, 0, 0, 0.5);
  transition: right 0.5s ease;
  z-index: 5;
  padding-top: 45px; /* Space for the close icon */
}

.nav-link-inner-container {
  border-top: 1px solid var(--theme-color2);
  margin-top: 15px;
}

.nav-links-inner.menuActive {
  top: 0;
  right: 0; /* Bring onto the screen */
  height: 100vh;
}

.nav-link-inner {
  color: var(--theme-color2);
  text-decoration: none;
  display: block; /* Stack vertically */
  width: 100%;
  padding: 20px 0;
  font-size: 18px;
  text-align: center;
  transition: color 0.3s ease;
}

.nav-link-inner:hover,
.nav-link-inner.active {
  color: var(--theme-color1);
  background-color: var(--theme-color2);
  text-decoration: underline;
  font-weight: bold;
}

/* Media Queries */
/* Larger screens */
@media screen and (min-width: 600px) {
  .nav-container {
    flex-direction: row;
  }

  .nav-link-outer {
    margin: 0 15px; /* Spacing between links */
  }

  .menu-icon,
  .nav-links-inner {
    display: none; /* Hide menu icon and inner links */
  }

  .nav-links-outer {
    display: flex;
    align-items: center;
  }
}

/* Smaller screens */
@media screen and (max-width: 599px) {
  .nav-container {
    justify-content: space-between;
  }

  .menu-icon {
    display: flex; /* Show the menu icon */
  }

  .nav-links-outer {
    display: none; /* Hide the outer links */
  }

  .nav-links-inner {
    display: none; /* Keep the inner links hidden until activated */
  }

  .nav-links-inner.menuActive {
    display: flex; /* Show the inner links when active */
  }
}
